body, h2, p {
	margin: 0;
	padding: 0;
}

body {
	background-color: #444;
	color: #333;
	font-family: Helvetica, sans-serif;
}

#book {
	background: url("https://dl.dropboxusercontent.com/u/3799114/page-flip-demo/book.png") no-repeat;
	position: absolute;
	width: 830px;
	height: 260px;
	left: 50%;
	top: 50%;
	margin-left: -400px;
	margin-top: -125px;
}

#pages section {
	background: url("https://dl.dropboxusercontent.com/u/3799114/page-flip-demo/paper.png") no-repeat;
	display: block;
	width: 400px;
	height: 250px;
	position: absolute;
	left: 415px;
	top: 5px;
	overflow: hidden;
}
	#pages section>div {
		display: block;
		width: 400px;
		height: 250px;
		font-size: 12px;
    
        /* The purpose of this block is to disable text selection, re-enabled on account of the removal of "event.preventDefault();" from the JS */ 
        -webkit-touch-callout: none;
        -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: moz-none;
	    -ms-user-select: none;
	    user-select: none;
	}
	#pages section p,
	#pages section h2 {
		padding: 3px 35px;
		line-height: 1.4em;
		text-align: justify;
	}
	#pages section h2{
		margin: 15px 0 10px;
	}

#pageflip-canvas {
	position: absolute;
	z-index: 100;
    pointer-events: none;
}
