/* ============================================================
  NAV
============================================================ */
nav.cmn-overlays-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
nav.cmn-overlays-nav li {
  display: block;
  margin: 0 0 1px 0;
}
nav.cmn-overlays-nav a {
}
nav.cmn-overlays-nav a:hover {
}

@media all and (min-width: 600px) {
  nav.cmn-overlays-nav ul {
    padding-left: 1px;
  }
  nav.cmn-overlays-nav li {
    float: left;
    width: 50%;
  }
  nav.cmn-overlays-nav li:nth-child(2n+1) {
    margin: 0 1px 1px -1px;
  }
}
/* ============================================================
  SECTIONS
============================================================ */
section {
  position: fixed;
  top: -9999px;
  left: -9999px;
  visibilty: hidden;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
section.active {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibilty: visible;
  opacity: 0;
  opacity: 1;
}

section .content {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  margin: 0 auto;
  max-width: 420px;
  padding: 10px;
  background-color: #fff;
  overflow-y: auto;
  opacity: 0;
  z-index: 2000;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: opacity 0.2s, -webkit-transform 0.2s;
  -moz-transition: opacity 0.2s, -moz-transform 0.2s;
  -o-transition: opacity 0.2s, -o-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  -webkit-transition-delay: 0.2s;
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
section .content a.close {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #b4e664;
  color: #fff;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
}
section .content a.close:hover {
  background-color: #85c420;
}

section.active .content {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}

/* ============================================================
  ARTICLES
============================================================ */
article h2 {
  margin-bottom: 10px;
  color: #323232;
  font-family: "Oswald", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
}
article p {
  margin-bottom: 20px;
}
article p:last-child {
  margin-bottom: 0;
}
